<!-- <% layout('/layouts/boilerplate') %> -->
<%if(images.length===0){%>
    <h1>NO RESULTS FOUND</h1>
<%}%>

<ul>
    <% for (var i = 0; i < images.length; i++) {%>
        <% if((i)%3===0){ %>
        <div class="row mt-4 mb-4">
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="<%=images[i].url%>" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title"><%=images[i].name %></h5>
                        <p class="card-text"><%=images[i].details%></p>
                        <a href="/show/<%=images[i].id%>" class="btn btn-primary"><%=images[i].name%></a>
                    </div>
                </div>
            </div>
            <%}%>
        <% if((i)%3==1){ %>
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="<%=images[i].url%>" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title"><%=images[i].name %></h5>
                        <p class="card-text"><%=images[i].details%></p>
                        <a href="/show/<%=images[i].id%>" class="btn btn-primary"><%=images[i].name%></a>
                    </div>
                </div>
            </div>
            <%}%>
        <% if((i)%3==2){ %>
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="<%=images[i].url%>" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title"><%=images[i].name %></h5>
                        <p class="card-text"><%=images[i].details%></p>
                        <a href="/show/<%=images[i].id%>" class="btn btn-primary"><%=images[i].name%></a>
                    </div>
                </div>
            </div>
        </div>
        <%}%>
    <% } %>
</ul>